body {
    padding: 1rem 1.5rem;
}
.item {
    width: 160px;
    
}
.comic-image {
    width: 100%;
    position: relative;

}
.comic-image img {
    width: 100%;
    vertical-align: center;
}
.comic-image a {
    text-decoration: none;
}

.comic-image .comic-info {
    width: 100%;
    font-family: Arial, sans-serif;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .item figcaption li {
    list-style-type: none;
    padding: 0;
} */

.item figcaption ul {
    list-style: none;
    padding: 0;
}

figcaption ul a {
    font-size: 13px;
    color: #000;
}

.item figcaption .chapter .time{
    color: silver;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
    float: right;
    overflow: hidden;
}

figcaption h3 a {
    color: #000;
}

.item a:hover {
    color: #288ad6;
    text-decoration: none;
}